<html>
  <head>
    <title>Thiago's blog</title>
  </head>
  <body>
    <div>
      <h1>Blog do thiago =)</h1>
      <p>Estou pensando ainda no que postar</p>
    </div>

    <div>
      <h2>O aprendiz do Puam</h2>
      <p>Hoje é o terceiro dia de aprendizado, ainda não to sabendo muita coisa, mas tenho me esforçado, o Puam é um amigo de infância, que tem me ajudado sendo meu professor (S2), o caminho é arduo, mas vou chegar lá!</p>
    </div>

    <div>
      <h3><strong>Gosto de batatas fritas</strong></h3>
      <p>É, batatas fritas são muito boas, principalmente acompanhando hamburguer... deu fome =/</p>
    </div>
  </body>
</html>
